.body{
    height: 100vh;
    width: 100vw;
}

.header{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.board{
    margin-top: 2%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,auto);
}

.cell{
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}

/* sınıfı olan hücrelerde cursor görünümü disabled olcak */
.cell.X,
.cell.O{
    cursor: not-allowed;
}

/* X Sınıfına sahip hücrenin içeriği X olacak */
.cell.X::before{
    font-size: 90px;
    content: 'X';
}

/* O Sınıfına sahip hücrenin içeriği O olacak */
.cell.O::before{
    font-size: 90px;
    content: 'O';
}

/* sınıfı x ve o olmayanlar için boardda X sınıfında hover olarak X gösterilir. */
.board.X .cell:not(.X):not(.O):hover::before{
    content: 'X';
    font-size: 90px;
    color: gray;
}

/* sınıfı x ve o olmayanlar için boardda O sınıfında hover olarak O gösterilir. */
.board.O .cell:not(.X):not(.O):hover::before{
    content: 'O';
    font-size: 90px;
    color: gray;
}

.finalMessage{
    visibility: hidden;
}

.restart{
    visibility: hidden;
}

/* görünmez sınıfları görünür hale getirilmede kullanılmıştır. */
.show{
    visibility: visible;
}

